<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2><%= results.length %> Wallet Addresses</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.created_at.toDateString() %> - <%= r.account %> <a target="_blank" href="https://blockscout.com/poa/dai/address/<%= r.account %>/transactions"><%= r.account %></a></li>

    <% }); %>
</ul>

</div>

</body>
</html>
